.home {
    background: radial-gradient(circle at 100% 40%, rgba(36, 219, 139, 1) 0%, rgba(18, 18, 18, 1) 23rem);
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100vh;
}

.home h3 {
    color: #b6b6b6;
    letter-spacing: 0.2rem;
    margin: 0;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.home h1 {
    color: #ffff;
    font-family: 'GFS Didot', serif;
    letter-spacing: 0.2rem;
    font-size: 4rem;
    margin: 0;
    padding-bottom: 0.5rem;
}

.home h2 {
    color: #24DB8B;
    font-family: 'GFS Didot', serif;
    letter-spacing: 0.2rem;
    font-size: 2rem;
    margin: 0;
}

.home .profile {
    height: 100vh;
    position: absolute;
    right: 0rem;
}

.home button {
    color: #ffff;
    background-color: #DB2474;
    position: absolute;
    border: none;
    border-radius: 1rem;
    top: 25rem;
    height: 2.3rem;
    font-size: large;
    opacity: 0.7;
}

.home button:hover {
    opacity: 1;
}

.intro {
    margin-left: 30%;
    padding-top: 4%;
    height: auto;
    position: relative;
}

.intro a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #ffff;
    text-decoration: none;
}

.icons {
    top: 37rem;
    margin-left: 30%;
    position: absolute;
    width: auto;
    z-index: 1;
    opacity: 0.7;
}

.icon {
    margin-right: 1.5rem;
    color: #24DB8B;
    opacity: 0.6;
    height: 2.5rem;
}

.icon:hover {
    opacity: 1;
}

@media (max-width: 860px) {
    .home {
        height: 100vh;
        background: radial-gradient(circle at 100% 55%, rgba(36, 219, 139, 1) 0%, rgba(18, 18, 18, 1) 18rem);
    }

    .home .profile {
        height: 75vh;
        position: absolute;
        right: 0rem;
        bottom: 0;
    }

    .home button {
        top: 25rem;
    }

    .intro {
        padding-top: 9%;
    }

    .icon {
        margin-right: 0.7rem;
    }

    .icons {
        margin-left: 30%;
        bottom: 7rem;
        background-color: #121212;
        height: 5%;
        border-radius: 0.5rem;
        opacity: 0.7;
    }


}

@media (max-width: 480px) {

    .home {
        background: radial-gradient(circle at 100% 70%, rgba(36, 219, 139, 1) 0%, rgba(18, 18, 18, 1) 30%);
    }

    .home .profile {
        height: 50vh;
        position: absolute;
        right: 0rem;
        bottom: 0;
    }


    .intro {
        padding-top: 20%;
    }

    .home button {
        top: 20rem;
        font-size: small;
        letter-spacing: 0.05rem;
    }

    .icons {
        margin-left: 30%;
        bottom: 10rem;
    }

    .icon {
        margin-right: 0.5rem;
        height: 2rem;
    }

    .home h3 {
        font-size: 1rem;
    }

    .home h1 {
        font-size: 3rem;
        margin: 0;
    }

    .home h2 {
        font-size: 1.5rem;
    }
}

@media (max-height: 605px) {
    .home {
        height: 40rem;
        background: radial-gradient(circle at 100% 50%, rgba(36, 219, 139, 1) 0%, rgba(18, 18, 18, 1) 35%);
    }

    .home .profile {
        height: 60vh !important;
    }
}