.videos-container {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 7rem;
    background-color: #121212;
    background: radial-gradient(
    circle,
    rgba(13, 34, 25, 1) 0%,
    rgba(0, 4, 23, 1) 75%,
    rgba(0, 4, 23, 1) 100%
  );
}

.videos-container h4 {
    font-family: 'GFS Didot', serif;
    color: #24DB8B;
    letter-spacing: 0.2rem;
    margin-top: 0;
    padding-top: 7%;
}

.videos-container h5 {
    color: #24DB8B;
    letter-spacing: 0.1rem;
    margin-top: 1.5rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 25px;
}

.videos-container p {
    line-height: 30px;
    margin-top: 2px;
    margin-bottom: 0;
    color: #b6b6b6;
}

.video-block {
    position: relative;
    margin-bottom: 3rem;
    padding-bottom: 4rem;
}

.video {
    height: 20rem;
    border-radius: 0.5rem;
    margin-top: 6rem;
   
}

.intro-container {
    margin-bottom: 4rem;
}

.videos-container a {
    color: #24DB8B;
    text-decoration: none;
    padding: 0.4rem 0.3rem;
    transition: all 0.2s;
    text-decoration: underline;
}

.videos-container a:hover {
    padding: 0.4rem 0.3rem;
    letter-spacing: 0.01rem;
}

.videos-container button {
    height: 2rem;
    border-radius: 0.5rem;
    border: solid 1px #DB2474;
    position: absolute;
    bottom: 0;
}

@media (max-width: 768px) {
    .video {
        height: 15rem;
        width: 100%;
    }
}

@media (max-width: 639px) {

    .videos-container h4 {
        padding-top: 9%;
    }
}


@media (max-width: 600px) {
    .video {
        height: 12rem;
 
    }
}

@media (max-width: 480px) {
    .video {
        height: 10rem;
    }
}

@media (max-width: 395px) {
    .video {
        height: 8rem;
    }
}